{% extends 'base.html' %}

{% block content %}
<h3>Hybrid SQL execution form</h3>
<form action="/execute" method="post">
  {% csrf_token %}
  {{ form.hidden_values }}  
  <table>
    <tr>
      <td colspan="4">
        script name: {{ form.filename }}
      </td>
    </tr>
    <tr>
      <td rowspan="2">{{ form.query }}</td>
      <td colspan="3">{{ form.flist }}</td>
    </tr>
    <tr>
      <td>{{ form.src }}</td>
      <td>{{ form.dst }}</td>
      <td>  <button type="submit">Run query</button></td>
    </tr>
  </table>
</form>
{% endblock content %}
